fastapi
uvicorn
jinja2
python-dotenv
huggingface_hub
httpx
argon2-cffi
psutil
aiofiles
python-multipart
transformers
sentencepiece
hf_xet
hf_transfer
cmake
passlib
torch
torchvision
pyodbc
aiosqlite
aioodbc